.camp-info {
  margin-left: 15px;
  font-family: "Asap", sans-serif;
}
.card-text {
  margin-left: 5px;
  color: white;
  font-family: "Asap", sans-serif;
  font-weight: bold;
}
.panel-title {
  font-family: "Asap", sans-serif;
  font-weight: bold;
}
