.to-text {
  margin-left: 0px;
  font-family: "Asap", sans-serif;
  font-weight: bold;
}
textarea {
  height: 50px;
}
.description-form {
  width: 90%;
}
.norm-form {
  width: 65%;
}
.addr-form {
  width: 65%;
}
