<div class="logs-form-container">
  <form [formGroup]="form">
    <mat-card class="logs-card">
      <div class="row justify-content-center card-text">
        Select a Campaign you have worked for to log hours, call and knocks.
      </div>
      <br>
      <div class="row justify-content-center">
        <mat-form-field class="camp-input">
          <mat-select placeholder="Campaign" [formControlName]="'camp'" (change)="selectCamp()">
            <mat-option *ngFor="let camp of campaigns" [value]="camp.camp_name">
              {{ camp.camp_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>
      <div class="vol-logs">
        <mat-form-field class="vol-input">
          <input class="lrg-input" [formControlName]="'vol_hrs'" matInput placeholder="Hours Worked" type="number" min="0" [value]="curr_vol_hrs">
        </mat-form-field>
        <mat-form-field class="vol-input">
          <input class="lrg-input" [formControlName]="'vol_calls'" matInput placeholder="Calls Made" type="number" min="0" [value]="curr_vol_calls">
        </mat-form-field>
        <mat-form-field class="vol-input">
          <input class="lrg-input" [formControlName]="'vol_knocks'" matInput placeholder="Doors Knocked" type="number" min="0" [value]="curr_vol_knocks">
        </mat-form-field>
      </div>
      <br>
      <div class="row justify-content-end">
        <button mat-raised-button (click)="updateMatch()" color="primary">Save</button>
      </div>
    </mat-card>
  </form>
</div>
