.register-button {
  width: 275px;
  height: 150px;
  margin-left: 50px;
  margin-right: 50px;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.small-text {
  display: block;
  alignment: bottom;
  margin-right: 20px;
  padding-top: 20px;
}
.button-text {
  height: 20px;
}
.button-title {
  height: 25px;
  font-family: Metron;
}
.red {
  color: #f90101;
}
.blue {
  color: #0e4878;
}

