<div class="row justify-content-center align-items-center">
  <div>
    <img class="logo" [src]="'assets/logo1.png'" alt="Polivols Logo" height="150px" width="auto">
  </div>
</div>

<br>
<br>
<br>

  <div class="row justify-content-center align-items-center">
      <button class="register-button" mat-raised-button (click)="isVolunteer(true)" [routerLink]="['/register']" color="accent">
        <p class="button-text red">I am a </p>
        <h2 class="button-title">Volunteer</h2>
        <p class="button-text red">Looking For A Campaign</p>
      </button>
      <button class="register-button" mat-raised-button (click)="isVolunteer(false)" [routerLink]="['/register']" color="primary">
        <p class="button-text blue">I am a </p>
        <h2 class="button-title">Campaign</h2>
        <p class="button-text blue">Looking For Volunteers</p>
      </button>
  </div>

<br>
  <div class="row justify-content-center align-items-center">
    <p>PoliVols Snippet</p>
  </div>

<br>

  <div class="row justify-content-center align-items-center">
    <p class="small-text">Already Have an Account?</p>
    <div>
      <button mat-raised-button [routerLink]="['/login']" color="primary">Login</button>
    </div>
  </div>
