<div class="profile-container">
  <mat-card class="header-card">
    <div class="row justify-content-between">
      <div class="row justify-content-start">
        <img class="logo" [src]="'assets/logo1.png'" [routerLink]="['/']" alt="Polivols Logo" height="60px" width="auto">
        <div>
          <p class="campaign-button" *ngIf="!isVolunteer" [routerLink]="['/camp_profile']">My Volunteers</p>
        </div>
        <div>
          <p class="campaign-button" *ngIf="isVolunteer" [routerLink]="['/profile']">My Campaigns</p>
        </div>
        <div>
          <p class="campaign-button" *ngIf="isVolunteer" [routerLink]="['/find_matches']">Find Campaigns</p>
        </div>
        <div>
          <p class="campaign-button">Update Issues</p>
        </div>
      </div>
      <div class="row justify-content-end profile-header-container">
        <div>
          <p class="logout-button" (click)="logOut()">Log Out</p>
        </div>
      </div>
    </div>
  </mat-card>
  <br>
  <div class="row justify-content-center align-content-center">
    <app-change-issues-form></app-change-issues-form>
  </div>
</div>


