<br>
<br>
<div class="title row justify-content-center">ABOUT POLIVOLS</div>
<br>
<div class="row justify-content-center about-row">
  <mat-card class="about-card">
    <div class="row justify-content-start">
        <br>
        <div class="description">PoliVols is a matching app, through which prospective political volunteers can connect with political campaigns in their area, engaging in and fighting for the issues they care most about.</div>
        <br>
        <div class="description"></div>
    </div>
  </mat-card>
</div>
<br>
<div class="title row justify-content-center">OUR TEAM</div>
<br>
<div class="row justify-content-center about-row">
  <mat-card class="about-card">
    <div class="row justify-content-start">
      <div>
        <img class="photo hidden-xs hidden-sm" [src]="'assets/jon.png'" alt="Jon Photo" width="125px" height="auto">
      </div>
      <div class="description-box">
        <div class="name">
          Jon Schulder CEO
        </div>
        <br>
        <div class="description">Jon is a high school senior at Paideia School in Atlanta, Georgia. He has experience working in multiple political offices, most recently working under U.S. Senator Robert Casey.</div>
        <br>
        <div class="description">As CEO, Jon has built a team of talented individuals dedicated to the Polivols platform.</div>
      </div>
      </div>
  </mat-card>
</div>
<br>
<div class="row justify-content-center about-row">
  <mat-card class="about-card">
    <div class="row justify-content-start">
      <div>
        <img class="photo hidden-xs hidden-sm" [src]="'assets/me.jpg'" alt="Nick Photo" width="125px" height="auto">
      </div>
      <div class="description-box">
        <div class="name">
          Nick Ricciarelli CTO
        </div>
        <br>
        <div class="description">Nick is currently studying computer science at Rochester Institute of Technology. He has also worked at numerous tech companies around the Boston area in software development and QA automation.</div>
        <br>
        <div class="description">As CTO, Nick handles both frontend and backend development, as well as database management and dev ops.</div>
      </div>
    </div>
  </mat-card>
  <div></div>
</div>
