<h4>Check off the political issues most important to you.</h4>
<mat-card class="issues-card">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-6">
        <div *ngFor="let issue of issues; let i = index">
          <mat-checkbox color="primary" *ngIf="i < 13" (click)="updateIssuesList(issue)">
            {{ issue }}
          </mat-checkbox>
        </div>
      </div>
      <div class="col-6">
        <div *ngFor="let issue of issues; let i = index">
          <mat-checkbox color="primary" *ngIf="i >= 13" (click)="updateIssuesList(issue)">
            {{ issue }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row justify-content-end">
      <button mat-raised-button color="primary" (click)="updateIssues(selected_issues)">Save</button>
    </div>
  </div>
</mat-card>
