@import "~@angular/material/theming";

$poli-accent-palette: (
  50 : #e2eaf0,
  100 : #b7cad9,
  200 : #88a7c0,
  300 : #5884a6,
  400 : #346993,
  500 : #104f80,
  600 : #0e4878,
  700 : #0c3f6d,
  800 : #093663,
  900 : #052650,
  A100 : #84b1ff,
  A200 : #5190ff,
  A400 : #1e70ff,
  A700 : #045fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$poli-palette: (
  50 : #ffe1e1,
  100 : #feb3b3,
  200 : #fd8181,
  300 : #fc4e4e,
  400 : #fc2828,
  500 : #fb0202,
  600 : #fa0202,
  700 : #fa0101,
  800 : #f90101,
  900 : #f80101,
  A100 : #ffffff,
  A200 : #ffebeb,
  A400 : #ffb8b8,
  A700 : #ff9f9f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

@include mat-core();

$polivol-primary: mat-palette($poli-palette);
$polivol-accent: mat-palette($poli-accent-palette);

$poli-theme: mat-light-theme($polivol-primary, $polivol-accent);

@include angular-material-theme($poli-theme);
