<div class="logs-form-container row justify-content-center">
    <mat-card class="logs-card">
      <div class="row justify-content-center card-text">
        Overall Volunteer Hours
      </div>
      <br>
      <br>
      <div class="vol-logs">
        <div class="log row justify-content-center">
          <div class="log-value">
            {{this.vol_hrs}}
          </div>
          <mat-icon class="icon">schedule</mat-icon>
        </div>
      </div>
    </mat-card>
  <mat-card class="logs-card">
    <div class="row justify-content-center card-text">
      Overall Volunteer Calls
    </div>
    <br>
    <br>
    <div class="vol-logs">
      <div class="log row justify-content-center">
        <div class="log-value">
          {{this.vol_calls}}
        </div>
        <mat-icon class="icon large">phone</mat-icon>
      </div>
    </div>
  </mat-card>
  <mat-card class="logs-card">
    <div class="row justify-content-center card-text">
      Overall Volunteer Knocks
    </div>
    <br>
    <br>
    <div class="vol-logs">
      <div class="log row justify-content-center">
        <div class="log-value">
          {{this.vol_knocks}}
        </div>
        <mat-icon class="icon">home</mat-icon>
      </div>
    </div>
  </mat-card>
</div>
