.has-vols {
  height: auto;
  line-height: 36px; /* <-- this is what you must define */
  vertical-align: bottom;
}
.card-text {
  margin-left: 15px;
  font-family: "Asap", sans-serif;
  font-weight: bold;
}
.email-button {
  margin-right: 15px;
}
.table-container {
  width: 850px;
}
.vols-card {
  background-color: white;
}
.header-row {
  background-color: #0e4f82;
  color: white;
}
.header-row > * {
  color: white;
}
.my-vols-table {
  font-family: "Asap", sans-serif;
}
.paginator {
  font-family: "Asap", sans-serif;
}
.search-bar {
  width: 300px;
  font-family: "Asap", sans-serif;
}
