.header-toolbar {
  background-color: white;
}
.fill-remaining-space {
  display: flex;
  flex: 1 1 auto;
}
.nav-button {
  font-family: "Asap", sans-serif;
  color: #0e4878;
}
.menu {
  color: grey;
}
