<br>
<div class="title row justify-content-center">ABOUT POLIVOLS</div>
<br>
<div class="row justify-content-center about-row">
  <mat-card class="about-card">
    <div class="row justify-content-center">
      <br>
      <div class="app-blurb description">PoliVols is a matching app, through which prospective political volunteers can connect with political campaigns in their area, engaging in and fighting for the issues they care most about.</div>
    </div>
  </mat-card>
</div>
<br>
<br>
<div class="title row justify-content-center">OUR TEAM</div>
<br>
<div class="row justify-content-center about-row">
  <mat-card class="about-card">
    <div>
      <img class="photo hidden-xs hidden-sm" [src]="'assets/jon.png'" alt="Jon Photo" width="125px" height="auto">
    </div>
  </mat-card>
  <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title class="name">
        Jon Schulder CEO
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="description">Jon is a high school senior at Paideia School in Atlanta, Georgia. He has experience working in multiple political offices, most recently working under U.S. Senator Robert Casey.</div>
    <br>
    <div class="description">As CEO, Jon has built a team of talented individuals dedicated to the Polivols platform.</div>
  </mat-expansion-panel>
</div>
<br>
<div class="row justify-content-center about-row">
  <mat-card class="about-card">
    <div>
      <img class="photo hidden-xs hidden-sm" [src]="'assets/me.jpg'" alt="Nick Photo" width="125px" height="auto">
    </div>
  </mat-card>
  <mat-expansion-panel class="expansion">
    <mat-expansion-panel-header>
      <mat-panel-title class="name">
        Nick Ricciarelli CTO
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="description">Nick is currently studying computer science at Rochester Institute of Technology. He has also worked at numerous tech companies in the Boston in software development and QA automation.</div>
    <br>
    <div class="description">As CTO, Nick handles both frontend and backend development, as well as database management and dev ops.</div>
  </mat-expansion-panel>
</div>

