<form [formGroup]="form">
  <div class="container">
    <div class="col-md-12">
      <mat-form-field>
        <input matInput [placeholder]="'Email'" [required]="true" [formControlName]="'email'">
        <mat-error *ngIf="email.hasError('required')">
          You must include a username.
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
          You must have a valid email format!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field>
        <input matInput [placeholder]="'Password'" [required]="true" [type]="'password'" [formControlName]="'password'">
        <mat-error *ngIf="password.hasError('required')">
          You must include a password!
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button [color]="'primary'" (click)="submit()" [disabled]="!form.valid">Login</button>
</form>
