<mat-card class="camp-card">
  <div class="row justify-content-start card-text" *ngIf="currNumCamps > 1">
    You have shown interest in {{currNumCamps}} Campaigns
  </div>
  <div class="row justify-content-start card-text" *ngIf="currNumCamps == 1">
    You have shown interest in {{currNumCamps}} Campaign
  </div>
  <div class="row justify-content-start card-text" *ngIf="currNumCamps == 0">
    You have not shown interest in any Campaigns. Click Find Campaigns to view campaigns near you.
  </div>
  <br *ngIf="currNumCamps > 0">
    <div class="table-container mat-elevation-z8" *ngIf="currNumCamps > 0">
      <mat-table class="my-camps-table" #table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Party Column -->
        <ng-container matColumnDef="party">
          <mat-header-cell *matHeaderCellDef> Party </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.party}} </mat-cell>
        </ng-container>

        <!-- Gov Level Column -->
        <ng-container matColumnDef="gov_level">
          <mat-header-cell *matHeaderCellDef> Level of Gov. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.gov_level}} </mat-cell>
        </ng-container>

        <!-- Zip Column -->
        <ng-container matColumnDef="zip_code">
          <mat-header-cell *matHeaderCellDef> Zip Code </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.zip_code}} </mat-cell>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
        </ng-container>

        <!-- Link Column -->
        <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a href="https://{{element.link}}/"> campaign site </a>
          </mat-cell>
        </ng-container>

        <!-- Interested Column -->
        <ng-container matColumnDef="interested">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="deleteMatch(element);" onclick="this.disabled=true;" color="primary">Remove Me</button>
          </mat-cell>
        </ng-container>

        <mat-header-row class="header-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  <br>
  <mat-paginator *ngIf="currNumCamps > 0" class="paginator" #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</mat-card>
