.card-text {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  color: black;
  margin-left: 0px;
}
.table-container {
  width: 800px;
}
.camp-card {
  background-color: white;
}
.header-row {
  background-color: #0e4f82;
  color: white;
}
.header-row > * {
  color: white;
}
.my-camps-table {
  font-family: "Asap", sans-serif;
}
.paginator {
  font-family: "Asap", sans-serif;
}
