/* Large desktops and laptops */
@media (min-width: 768px) {
  .mobile-page {
    display: none;
  }
  .toolbar-row {
    background-color: white;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .desktop-page {
    display: none;
  }
}
.row {
  height: 0;
}
.nav-button {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  color: #0e4878;
}
.fill-remaining-space {
  display: flex;
  flex: 1 1 auto;
}
.nav-button {
  margin-top: 10px;
}
