.register-card {
  width: 900px;
  height: 550px;
}
.right-input {
  margin-left: 20px;
}
/* Large desktops and laptops */
@media (min-width: 768px) {
  .sm-screen-register {
    display: none;
  }
}
@media (max-width: 767px) {
  .lrg-screen-register {
    display: none;
  }
}
