.profile-header {
  margin-left: 20px;
  color: #0e4f82;
  font-family: "Asap", sans-serif;
}
.profile-header-container {
  height: 30px;
}
.find-matches-container {
  height: 110vh;
  background-color: #0e4f82;
}
.logo {
  margin-left: 20px;
  margin-right: 15px;
}
.page-header {
  background-color: white;
}
.page-body {
  background-color: #0e4f82;
}
.header-card {
  height: 70px;
  padding-top: 5px;
  padding-left: 10px;
}
.matches-card {
  width: 80%;
}
.card-text {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  margin-left: 0px;
}
.logout-button {
  font-family: "Asap", sans-serif;
  color: grey;
  margin-top: 22.5px;
  margin-right: 20px;
}
.campaign-button {
  font-family: "Asap", sans-serif;
  color: grey;
  margin-top: 22.5px;
  margin-right: 15px;
}
.header-row {
  background-color: #0e4f82;
  color: white;
}
.header-row > * {
  color: white;
}
.matches-table {
  font-family: "Asap", sans-serif;
}
.paginator {
  font-family: "Asap", sans-serif;
}
.search-bar {
  width: 300px;
  font-family: "Asap", sans-serif;
}
