/* Large desktops and laptops */
@media (min-width: 768px) {
  .mobile-page {
    display: none;
  }
  .logo {
    margin-left: 20px;
    margin-right: 15px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .desktop-page {
    display: none;
  }
  .logo {
    margin-left: 10px;
  }
}
.profile-header {
  margin-left: 20px;
  color: #0e4f82;
  font-family: "Asap", sans-serif;
}
.profile-header-container {
  height: 30px;
}
.find-matches-container {
  overflow-y: auto;
  height: 110vh;
  background-color: #0e4f82;
}
.page-header {
  background-color: white;
}
.page-body {
  background-color: #0e4f82;
}
.header-card {
  width: 100% !important;
  height: 70px;
  padding-top: 5px;
  padding-left: 10px;
}
.matches-card {
  width: 80%;
}
.card-text {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  margin-left: 0px;
}
.logout-button {
  font-family: "Asap", sans-serif;
  color: grey;
  margin-top: 22.5px;
  margin-right: 20px;
}
.campaign-button {
  font-family: "Asap", sans-serif;
  color: grey;
  margin-top: 22.5px;
  margin-right: 15px;
}
.header-row {
  background-color: #0e4f82;
  color: white;
}
.header-row > * {
  color: white;
}
.matches-table {
  font-family: "Asap", sans-serif;
}
.paginator {
  font-family: "Asap", sans-serif;
}
.search-bar {
  width: 300px;
  font-family: "Asap", sans-serif;
}
.menu {
  margin-top: 12.5px;
  color: grey;
}
.menu-text {
  font-family: "Asap", sans-serif;
  color: grey;
}
.matches-view {
  width: 70%;
}
