<mat-toolbar class="header-toolbar desktop-page">
  <mat-toolbar-row>
    <img class="logo" [src]="'assets/logo1.png'" alt="Polivols Logo" height="55px" width="auto">
    <button mat-flat-button *ngIf="!isVolunteer" class="nav-button" color="white" [routerLink]="['/camp_profile']">My Volunteers</button>
    <button mat-flat-button *ngIf="isVolunteer" class="nav-button" color="white" [routerLink]="['/profile']">My Campaigns</button>
    <button mat-flat-button *ngIf="isVolunteer" class="nav-button" color="white" [routerLink]="['/logs']">My Logs</button>
    <button mat-flat-button class="nav-button" *ngIf="!isVolunteer" color="white" [routerLink]="['/events']">My Events</button>
    <button mat-flat-button *ngIf="!isVolunteer" class="nav-button" color="white" [routerLink]="['/vol_logs']">Volunteer Logs</button>
    <button mat-flat-button *ngIf="isVolunteer" class="nav-button" color="white" [routerLink]="['/find_matches']">Find Campaigns</button>
    <button mat-flat-button class="nav-button" *ngIf="isVolunteer" color="white" [routerLink]="['/find_events']">Events</button>
    <button mat-flat-button class="nav-button" color="white" [routerLink]="['/update_issues']">Update Issues</button>
    <span class="spacer fill-remaining-space"></span>
    <button mat-flat-button class="nav-button" color="white" (click)="logOut()">Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="header-toolbar mobile-page">
  <mat-toolbar-row>
    <img class="logo" [src]="'assets/logo1.png'" [routerLink]="['/']" alt="Polivols Logo" height="50px" width="auto">
    <span class="spacer fill-remaining-space"></span>
    <div class="menu">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>reorder</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="nav-button" *ngIf="!isVolunteer" [routerLink]="['/camp_profile']">My Vols</button>
        <button mat-menu-item class="nav-button" *ngIf="isVolunteer" [routerLink]="['/profile']">My Camps</button>
        <button mat-menu-item class="nav-button" *ngIf="isVolunteer" [routerLink]="['/logs']">My Logs</button>
        <button mat-menu-item class="nav-button" *ngIf="!isVolunteer" [routerLink]="['/events']">My Events</button>
        <button mat-menu-item class="nav-button" *ngIf="!isVolunteer" [routerLink]="['/vol_logs']">Vol Logs</button>
        <button mat-menu-item class="nav-button" *ngIf="isVolunteer" [routerLink]="['/find_matches']">Find Camps</button>
        <button mat-menu-item class="nav-button" *ngIf="isVolunteer" [routerLink]="['/find_events']">Events</button>
        <button mat-menu-item class="nav-button" [routerLink]="['/update_issues']">Update Issues</button>
        <button mat-menu-item class="nav-button" (click)="logOut()">Log Out</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
