<div class="profile-container">
  <mat-card class="header-card">
    <div class="row justify-content-between">
      <img class="logo" [src]="'assets/logo1.png'" [routerLink]="['/welcome']" alt="Polivols Logo" height="60px" width="auto">
      <div>
        <button class="logout-button" mat-raised-button color="primary" (click)="logOut()">Log Out</button>
      </div>
    </div>
  </mat-card>
  <br>
  <div class="row justify-content-center">
    <mat-card class="profile-body">
      <div class="row justify-content-center align-content-center">
        <mat-tab-group class="tabs row justify-content-center align-content-center">
          <mat-tab class="tab-label" label="My Volunteers">
            <app-my-vols-form></app-my-vols-form>
          </mat-tab>
          <mat-tab class="tab-label" label="Update Issues">
            <app-change-issues-form></app-change-issues-form>
          </mat-tab>
          <mat-tab class="tab-label" label="Edit Profile" disabled>Content 2</mat-tab>
          <mat-tab class="tab-label" label="Settings" disabled>Content 2</mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</div>


