<div class="profile-container">
  <mat-card class="header-card">
    <div class="row justify-content-between">
      <img class="logo" [src]="'assets/logo1.png'" [routerLink]="['/welcome']" alt="Polivols Logo" height="60px" width="auto">
      <div>
        <button class="logout-button" mat-raised-button color="primary" (click)="logOut()">Log Out</button>
      </div>
    </div>
  </mat-card>
<br>
<div class="row justify-content-center">
  <mat-card class="profile-body">
    <div class="row justify-content-center">
      <mat-tab-group>
        <mat-tab label="My Campaigns">
          <br>
          You have not chosen any campaigns to volunteer for
        </mat-tab>
        <mat-tab label="Find Campaigns">
          <div class="tab-container">
            <app-find-matches-form></app-find-matches-form>
          </div>
        </mat-tab>
        <mat-tab label="Update Issues">
          <app-change-issues-form></app-change-issues-form>
        </mat-tab>
        <mat-tab label="Edit Profile" disabled>Content 2</mat-tab>
        <mat-tab label="Settings" disabled>Content 2</mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</div>
</div>


