<!DOCTYPE html>
<html>

<head>
  <title>User Profile Page</title>
</head>

<body>
<header>
  <img [src]="fullImagePath" [routerLink]="['/welcome']" alt="Polivols Logo" height="50px" width="auto">

  <h2 >My Profile</h2>
</header>
<div class="button-row">
  <button mat-raised-button color="warn">Find Campaigns Near You</button>
</div>
<br>
<div class="button-row">
  <button mat-raised-button [routerLink]="['/issues']" color="warn">Edit Profile</button>
</div>
<br>
<div class="button-row">
  <button mat-raised-button color="warn" (click)="logOut()">Log Out</button>
</div>

<br>

</body>

</html>

