<br>
<div class="row justify-content-center align-content-center">
  <mat-card class="contact-card row justify-content-center">
    <div class="row justify-content-center">
      <p class="title">CONTACT US</p>
    </div>
    <div class="row justify-content-center">
      <p class="email">info@polivols.com - General Info</p>
    </div>
    <div class="row justify-content-center">
      <p class="email">nick@polivols.com - Tech Support</p>
    </div>
    <div class="row justify-content-center">
      <p class="email">jon@polivols.com - Business Inquires</p>
    </div>
    <div class="row justify-content-center">
      <p align="center" class="contact-text">FOLLOW US ON SOCIAL, TAG US IN PHOTOS OF YOU VOLUNTEERING OR USE THE HASHTAG #polivols</p>
    </div>
    <div class="row justify-content-center">
      <div class="social-icons">
        <a href="https://www.facebook.com/PoliVolunteering" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/polivols/" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/company/polivols/" class="fa fa-linkedin"></a>
      </div>
    </div>
  </mat-card>
</div>



