
<header>
  <img [src]="'assets/logo1.png'" [routerLink]="['/welcome']" alt="Polivols Logo" height="65px" width="auto">
</header>
<br>

<div>
  Volunteer(s) Have Shown Interest In Your Campaign<br>
  <mat-progress-bar style="width:30%;" mode="determinate" value="10"></mat-progress-bar>
  {{currNumVols}}/{{numDesiredVols}}
</div>

<br>
<div class="example-container mat-elevation-z8" style="width: 70%">
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let volunteer"> {{volunteer.name}} </mat-cell>
    </ng-container>

    <!-- Zip Column -->
    <ng-container matColumnDef="zip_code">
      <mat-header-cell *matHeaderCellDef> Zip Code </mat-header-cell>
      <mat-cell *matCellDef="let volunteer"> {{volunteer.zip_code}} </mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let volunteer"> {{volunteer.state}} </mat-cell>
    </ng-container>

    <!-- Party Needed Column -->
    <ng-container matColumnDef="party">
      <mat-header-cell *matHeaderCellDef> Party </mat-header-cell>
      <mat-cell *matCellDef="let volunteer"> {{volunteer.party}} </mat-cell>
    </ng-container>

    <!-- Issues Column -->
    <ng-container matColumnDef="issues">
      <mat-header-cell *matHeaderCellDef> Issues </mat-header-cell>
      <mat-cell *matCellDef="let volunteer"> {{volunteer.issues}} </mat-cell>
    </ng-container>

    <!-- Hours Column -->
    <ng-container matColumnDef="hours">
      <mat-header-cell *matHeaderCellDef> Hours Per Week </mat-header-cell>
      <mat-cell *matCellDef="let volunteer"> {{volunteer.hours}} </mat-cell>
    </ng-container>

    <!-- Link Column -->
    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
      <mat-cell *matCellDef="let volunteer">
        <a href="{{volunteer.link}} ">campaign site</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
